.optionsContainer {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: rgba(236, 232, 233, 0.4);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(218, 216, 216, 0.6);
}
.btn.selected {
    background-color: rgb(218, 216, 216, 0.6);
}
@media all and (max-width: 600px) {
    .optionsContainer {
        padding: 0 10px;
        gap: 8px;
    }
    .btn {
        padding: 5px 8px;
        font-size: 14px;
    }
}
