.optionsContainer {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    /* min-width: 150px; */
    border: none;
    border-radius: 2px;
    background-color: rgba(236, 232, 233, .4);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(218, 216, 216, .6);
}