.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    margin: 0;
    padding: 15px;
    background-color: rgba(245, 218, 101);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}


.loading {
    text-align: center;
    font-size: 26px;
}

/* @media all and (max-width: 800px) {
    .container {
        padding: 20px;
    }
} */
