.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
}
.header h1,
.header span {
    font-size: 30px;
    font-weight: 400;
}
.button {
    margin-left: 10px;
    padding: 15px;
    min-width: 30px;
    min-height: 30px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}
.button img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
@media all and (max-width: 600px) {
    .header {
        padding: 10px;
        font-size: 24px;
    }
    .header h1,
    .header span {
        font-size: 30px;
        font-weight: 400;
        font-size: 24px;
    }
    .button {
        margin-left: 5px;
        min-width: 25px;
        min-height: 25px;
    }
    .button img {
        height: 90%;
        width: 90%;
    }
}
